<div class="w-full mt-[100px] p-5 mb-[-100px]">
    <div class="flex items-center justify-start gap-2 text-[16px]">
        <div class="cursor-pointer hover:scale-105 hover:text-primary" [routerLink]="['/user-management/list']">Danh sách tài khoản</div>
        <div>/</div>
        <div class="text-primary">Chỉnh sửa tài khoản</div>
    </div>
    <div class="flex-1 pt-8 px-[50px] rounded-lg overflow-y-auto">
        <form class="flex flex-col gap-2 mt-4 p-[1px] " [formGroup]="form">
            <div class="flex w-full gap-9">
                <div class="flex flex-col flex-1">
                    <span class="mb-2">Họ và tên</span>
                    <mat-form-field class="custom-input " appearance="outline">
                        <input matInput placeholder="Nhập họ và tên" formControlName="fullName" />
                        <mat-error
                            *ngIf="form.get('fullName')?.errors?.['required']&& (form.get('fullName')?.dirty || form.get('fullName')?.touched)"
                            class="text-red-600">
                            Vui lòng nhập đầy đủ thông tin!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class=" flex flex-col flex-1">
                    <span class="mb-2">Ngày sinh</span>
                    <mat-form-field class="custom-input " appearance="outline">
                        <input placeholder="Nhập ngày sinh" formControlName="dob" matInput [matDatepicker]="picker2" />
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <mat-error
                            *ngIf="form.get('dob')?.errors?.['required']&& (form.get('dob')?.dirty || form.get('dob')?.touched)"
                            class="text-red-600">
                            Vui lòng nhập đầy đủ thông tin!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex w-full gap-9">
                <div class="flex flex-col flex-1">
                    <span class="mb-2">Username</span>
                    <mat-form-field class="custom-input " appearance="outline">
                        <input matInput placeholder="Nhập username" formControlName="userName" />
                        <mat-error
                            *ngIf="form.get('userName')?.errors?.['required']&& (form.get('userName')?.dirty || form.get('userName')?.touched)"
                            class="text-red-600">
                            Vui lòng nhập đầy đủ thông tin!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-1">
                    <span class="mb-2">Giới tính</span>
                    <mat-form-field class="custom-input " appearance="outline">
                        <mat-select formControlName="gender">
                            <mat-option *ngFor="let gender of listGender" [value]="gender.value">
                              {{ gender.label }}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="form.get('gender')?.errors?.['required']&& (form.get('gender')?.dirty || form.get('gender')?.touched)"
                            class="text-red-600">
                            {{'PopUpRegister.noEmty'|translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex w-full gap-9">
                <div class="flex flex-col flex-1">
                    <span class="mb-2">Số điện thoại</span>
                    <mat-form-field class="custom-input " appearance="outline">
                        <input placeholder="Nhập số điện thoại" matInput formControlName="phoneNumber" maxlength="10" />
                        <mat-error *ngIf="form.get('phoneNumber')?.errors?.['phoneNumberCheck']" class="text-red-600">
                            Số điện thoại không hợp lệ!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="flex flex-col flex-1">
                    <span class="mb-2">Email</span>
                    <div class="flex relative">
                        <mat-form-field class="custom-input   w-full" appearance="outline">
                            <input placeholder="Nhập Email" class="!w-[100%]" matInput formControlName="email" />
                            <mat-error
                                *ngIf="form.get('email')?.errors?.['email']&& (form.get('email')?.dirty || form.get('email')?.touched)"
                                class="text-red-600">
                                Email không hợp lệ!
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="flex w-full gap-9">
                <div class="flex flex-col flex-1">
                    <span class="mb-2">Trạng thái</span>
                    <div class="flex items-center justify-start gap-4">
                        <div 
                          class="py-2 px-3 rounded-lg border cursor-pointer"
                          [ngClass]="{'text-[#00B087] border-[#00B087] bg-activeBg': form.get('status')?.value === 'Active', 
                                     'text-[#00B087] border-[#00B087]': form.get('status')?.value !== 'Active'}"
                          (click)="changeStatus('Active')">Active</div>
                        <div 
                          class="py-2 px-3 rounded-lg border cursor-pointer"
                          [ngClass]="{'text-[#DF0404] border-[#DF0404] bg-inActiveBg': form.get('status')?.value === 'Disable', 
                                     'text-[#DF0404] border-[#DF0404]': form.get('status')?.value !== 'Disable'}"
                          (click)="changeStatus('Disable')">Inactive</div>
                    </div>
                </div>
                <div class="flex flex-col flex-1">
                    <span class="mb-2">Vai trò</span>
                    <mat-form-field class="custom-input " appearance="outline">
                        <mat-select formControlName="role">
                            <mat-option *ngFor="let role of listRole" [value]="role.value">
                              {{ role.label }}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="form.get('role')?.errors?.['required']&& (form.get('role')?.dirty || form.get('role')?.touched)"
                            class="text-red-600">
                            Vui lòng nhập đầy đủ thông tin
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="flex justify-center items-center mt-[48px] gap-4">
            <div [routerLink]="['/user-management/list']" class="rounded-lg px-3 py-2 font-semibold text-white bg-[#BAC1CC] cursor-pointer">
                Huỷ bỏ
            </div>
            <div (click)="handleSubmit()" class="rounded-lg px-3 py-2 font-semibold text-white bg-[#22B14C] cursor-pointer">
                Cập nhật
            </div>
        </div>
    </div>
</div>