    <!-- Banner -->
    <div class="w-full relative mt-[100px]">
        <img class="object-cover w-full h-full"  src="../../../assets/img/bannerHomePage.png"/>
        <!-- <div class="absolute bottom-[50px] left-[100px]">
            <div class="text-white w-[500px] text-[50px] font-semibold">Hệ thống hỗ trợ tìm sân nhanh</div>
            <div class="flex w-fit items-center bg-primaryBG rounded-md">
                <form [formGroup]="form" class="w-full p-2 flex items-center gap-4 text-white">
                    <div class="flex items-center gap-1">
                        Loại sân:
                        <div class="w-fit">
                            <nz-select class="w-fit" formControlName="type" nzPlaceHolder="Chọn loại sân">
                                <nz-option *ngFor="let item of listType" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
                            </nz-select>  
                        </div>
                    </div>
                    <div class="flex items-center gap-1">
                        Khung giờ:
                        <div>
                            <input class="border-none !outline-none !outline-transparent h-[32px] text-[#000] bg-white w-[140px] px-2 rounded-lg" formControlName="time" placeholder="12:30, 02/03/2025" />
                        </div>
                    </div>
                    <div class="flex items-center gap-1">
                        Địa chỉ:
                        <div>
                            <input class="border-none !outline-none !outline-transparent h-[32px] text-[#000] bg-white w-[200px] px-2 rounded-lg" formControlName="address" placeholder="Nhập địa chỉ" />
                        </div>
                    </div>
                    <div (click)="search()" class="bg-[#4FC460] rounded-[10px] text-white px-[12px] py-[7px] cursor-pointer hover:scale-105">Tìm kiếm</div>
                </form>
            </div>
        </div> -->
    </div>
    <!-- Sân thể thao -->
    <div class="w-full">
        <div class="flex w-fit mx-auto items-center bg-primaryBG rounded-md mt-[12px]">
            <form [formGroup]="form" class="w-full p-3 flex items-center gap-5 font-medium">
                <div class="flex items-center gap-1">
                    Loại sân:
                    <div class="w-fit">
                        <nz-select class="w-fit" formControlName="type" nzPlaceHolder="Chọn loại sân">
                            <nz-option *ngFor="let item of listType" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
                        </nz-select>  
                    </div>
                </div>
                <div class="flex items-center gap-1">
                    Khung giờ:
                    <div>
                        <input class="border-none !outline-none !outline-transparent h-[32px] text-[#000] bg-white w-[140px] px-2 rounded-lg" formControlName="time" placeholder="12:30, 02/03/2025" />
                    </div>
                </div>
                <div class="flex items-center gap-1">
                    Địa chỉ:
                    <div>
                        <input class="border-none !outline-none !outline-transparent h-[32px] text-[#000] bg-white w-[200px] px-2 rounded-lg" formControlName="address" placeholder="Nhập địa chỉ" />
                    </div>
                </div>
                <div (click)="search()" class="bg-[#4FC460] rounded-[10px] text-white px-[12px] py-[7px] cursor-pointer hover:scale-105">Tìm kiếm</div>
            </form>
        </div>
        <div class="text-center text-[#181E4B] text-[32px] font-[montserrat] font-semibold my-5">Sân thể thao</div>
        <div class="relative flex items-center justify-center w-full gap-[20px]">
            <div *ngIf="listSanBong.length > 4" (click)="scrollLeft()" class="ml-4">
                <i class="fa-solid fa-circle-arrow-left text-[30px] text-primary cursor-pointer hover:scale-105"></i>
            </div>
            <div #scroller class="media-scroller snaps-inline bg-white overflow-x-auto whitespace-nowrap flex">
                <div *ngFor="let item of listSanBong" class="flex-shrink-0 w-[300px] shadow-shadow-timeword mx-2 rounded-md">
                    <div class="w-[300px] h-[200px]">
                        <img class="object-cover w-full h-full rounded-tl-md rounded-tr-md" [src]="item.image"/>
                    </div>
                    <div class="flex flex-col p-4">
                        <div class="text-[#000] text-[18px] font-semibold">{{ item.name }}</div>
                        <div class="text-[#7D7D7D] text-[14px]"><i class="fa-solid fa-location-dot"></i> {{ item.address }}</div>
                        <div class="text-[#000] font-normal text-[15px] mt-3">Thể loại: {{ item.facilityType }}</div>
                        <div *ngIf="item.description.length > 32" class="text-[#000] font-normal text-[15px] mt-1"> Mô tả: {{ item.description.substring(0, 32) + '...'}}</div>
                        <div *ngIf="item.description.length <= 32" class="text-[#000] font-normal text-[15px] mt-1"> Mô tả: {{ item.description }}</div>
                    </div>
                    <div class="w-full flex justify-center mb-2">
                        <div (click)="viewDetail(item.id)" class="bg-[#DF6951] hover:scale-105 py-2 px-4 text-white cursor-pointer rounded-lg w-[100px] text-center">Chi tiết</div>
                    </div>
                </div>
            </div>
            <div *ngIf="listSanBong.length > 4" (click)="scrollRight()" class="mr-4">
                <i class="fa-solid fa-circle-arrow-right text-[30px] text-primary cursor-pointer hover:scale-105"></i>
            </div>
        </div>
    </div>
    <!-- Sự kiện  -->
    <div class="w-full">
        <div class="text-center text-[#181E4B] text-[32px] font-[montserrat] font-semibold mt-8 mb-5">Sự kiện</div>
        <div class="flex items-center w-full h-fit">
            <div class="w-[50%] flex-1 relative">
                <img class="object-cover w-full h-[300px]"  src="../../../assets/img/evenBongDa.png"/>
                <div class="flex flex-col items-center justify-center gap-3 absolute inset-0">
                    <div class="text-white text-[28px] font-semibold font-[montserrat]">Event Bóng Đá</div>
                    <div class="px-4 py-1 bg-transparent border-white text-white border rounded-lg cursor-pointer">Chi tiết</div>
                </div>
            </div>
            <div class="w-[50%] flex-1 relative">
                <img class="object-cover w-full h-[300px]"  src="../../../assets/img/eventPickerBall.png"/>
                <div class="flex flex-col items-center justify-center gap-3 absolute inset-0">
                    <div class="text-white text-[28px] font-semibold font-[montserrat]">Event PickerBall</div>
                    <div class="px-4 py-1 bg-transparent border-white text-white border rounded-lg cursor-pointer">Chi tiết</div>
                </div>
            </div>
        </div>
    </div>