<div class="h-[100vh] w-full p-5">
    <div class="mb-8 flex justify-between items-center">
        <div class="relative w-[400px]">
          <i class="fa-solid fa-magnifying-glass absolute left-[12px] top-[50%] translate-y-[-50%]"></i>
          <input (input)="onSearch($event)" class="h-[40px] bg-[#f1f1f1] outline-none border-[2px] border-primary w-full pr-2 pl-8 rounded-xl" placeholder="Tìm kiếm tên sân" />
        </div>
        <div [routerLink]="['/price/add']" class="px-[12px] py-[8px] rounded-[6px] flex items-center justify-center gap-1 border border-primary text-primary cursor-pointer hover:bg-primary hover:text-[#fff]" >
            <i class="fa-solid fa-circle-plus"></i>
            Thêm giá mới
        </div>
    </div>
    <div>
      <div class="mt-[27px] w-full">
      <table class="text-[13px] font-normal w-full relative">
        <thead class="border-b-[#96E6A1] border-b *:py-4 *:text-center bg-white z-2  font-medium sticky top-0 ">
            <th class="px-3">#</th>
            <th><div class="text-left">Sân</div></th>
            <th class=""><div class="text-left">Giá tiền gốc</div></th>
            <th>Khung giờ</th>
            <th>Ngày</th>
            <th class=""><div class="text-center">Hệ số</div></th>
            <th class=""><div class="text-center">Giá tiền cuối</div></th>
            <th class="">Thao tác</th>
        </thead>
        <div class="w-full" *ngIf="isLoading; else data">
          <div class="flex items-center justify-center absolute mt-[100px] !w-[100%]">
            <nz-spin class="inline-block w-full text-center" nzSize="large" ></nz-spin>
          </div>
        </div>  
        <div class="w-full" *ngIf="listPrice.length == 0">
          <div class="flex flex-col items-center justify-center absolute mt-[100px] !w-[100%]">
            <span nz-icon nzType="exclamation-circle" nzTheme="outline" class="text-[20px]"></span>
            <div class="text-myText font-[500] text-[14px] mt-[10px]">Danh sách trống</div>
          </div>
        </div>  
        <ng-template #data>
          <tbody> 
            <tr class="*:py-4 *:text-center border-b border px-2 h-[60px]" *ngFor="let item of listPrice; let index = index">
              <td class="px-3">
                {{index + 1}}
              </td>
              <td >
                <div class="text-left flex items-center justify-start gap-2 font-semibold">
                   {{item?.facilityName}}
                </div>
              </td>
              <td >
                <div class="flex text-left text-primary font-medium">{{item?.basePrice}}</div>
              </td>
              <td> 
                <div class="text-center">{{item.startTime.substring(0, 5)}} - {{item.endTime.substring(0, 5)}}</div>
              </td>
              <td> 
                <div class="text-center">{{item.startDate | date:'dd/MM/yyyy'}} - {{item.endDate | date:'dd/MM/yyyy'}}</div>
              </td>
              <td>
                <div class="flex justify-center text-red-500 font-medium">{{item?.coefficient}}</div>
              </td>
              <td >
                <div class="flex justify-center text-primary font-medium">{{item?.finalPrice}}</div>
              </td>
              <td class="relative">
                <i class="fa-solid fa-ellipsis-vertical cursor-pointer p-4 hover:scale-105 hover:text-primary" (click)="toggleMenu(item.id)"></i>
                <div *ngIf="selectedPriceId === item.id" class="absolute right-0 mt-1 w-[120px] bg-white border rounded-lg shadow-lg z-10">
                  <div class="p-2 cursor-pointer hover:bg-gray-200" (click)="viewDetail(item.id)">Xem chi tiết</div>
                  <div (click)="openDeletePopup(item)"
                  class="p-2 cursor-pointer hover:bg-gray-200 text-red-500">Xoá</div>
                </div>
              </td>              
            </tr>
          </tbody> 
        </ng-template>                   
      </table>
      </div>
      <div class="float-right w-fit mt-5">
        <app-pagi [totalCount]="totalCount" [page]="params.page" [pageSize]="params.pageSize"
          (PageEvent)="changePage($event)" (PageSizeEvent)="changePageSize($event)"></app-pagi>
      </div>
    </div>
</div>

<app-popup-delete [isVisible]="isVisible" [item]="item" (changeVisibleDelete)="handleChangeVisible($event)"></app-popup-delete>