<div class="mt-[100px] w-full p-5 mb-[-100px]">
    <div class="flex items-center justify-start gap-2 text-[16px]">
        <div class="cursor-pointer hover:scale-105 hover:text-primary" [routerLink]="['/home-page']">Trang chủ</div>
        <div>/</div>
        <div class="text-primary">Lịch sử đặt sân</div>
    </div>
    <div class="w-full mt-7 flex flex-col gap-[12px]">
        <div *ngFor="let item of listHistory" class="flex flex-col w-full p-2 border hover:bg-gray-50">
            <div class="flex items-start gap-5 w-full mb-2">
                <img [src]="item.image" alt="image" class="w-[150px] h-[100px] object-cover rounded-[4px]">
                <div class="flex flex-col flex-1 justify-start">
                    <div class="text-[15px] font-semibold">{{item.name}}</div>
                    <div class="text-[14px] font-normal">Địa chỉ: 20 Đầm Hồng, Nam Từ Liêm, Hà Nội</div>
                    <div class="text-[14px] font-normal">Lịch đặt: 20:00 - 21:00 27/03/2025</div>
                    <div class="text-[14px] font-normal">Giá tiền: <span class="text-red-500 font-medium text-[15px]">300.000 VNĐ</span></div>
                    <div class="flex items-center justify-between text-[15px]">
                        <div>Trạng thái: 
                            <span [ngClass]="{'text-[#DF0404]': item.status === 0, 'text-[#008767]': item.status === 1}">
                                {{item.status === 0 ? 'Đã cọc' : 'Hoàn thành'}}
                            </span>
                        </div>
                        <div class="text-[15px]">Đã thanh toán: <span class="text-primary font-medium text-[15px]">100.000 VNĐ</span></div>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-end gap-[16px] pt-2 border-t w-full">
                <div (click)="openPopupRate(item)" class="border border-gray-500 cursor-pointer py-[6px] px-3 rounded-lg">Đánh giá</div>
                <div [routerLink]="['/history/', item.id]" class="border border-red-500 text-red-500 cursor-pointer py-[6px] px-3 rounded-lg">Xem chi tiết</div>
            </div>
        </div>
    </div>
</div>

<app-history-rate [item]="item" [isVisibleRate]="isVisibleRate" (changeVisibleRate)="handleChangeVisibleRate($event)"></app-history-rate>