<div class="mt-[100px] w-full p-5 mb-[-100px]">
    <div class="flex items-center justify-start gap-2 text-[16px]">
        <div class="cursor-pointer hover:scale-105 hover:text-primary" [routerLink]="['/home-page']">Trang chủ</div>
        <div>/</div>
        <div class="text-primary">Tài khoản</div>
    </div>
    <div class="w-full">
        <div class="w-full flex items-center justify-start">
            <img class="object-cover w-[100px] h-[100px] rounded-[50%]" [src]="info.img"/>
            <div class="flex flex-col items-start justify-between">
                <div class="font-semibold text-[14px]">{{info.fullName}}</div>
                <div class="font-normal text-[14px]">{{info.email}}</div>
            </div>
        </div>
        <div class="w-full flex flex-col gap-5">
            <div class="w-full flex items-center justify-between gap-5">
                <div class="w-[50%] flex-1 flex flex-col items-start">
                    <div class="font-semibold">Họ và tên</div>
                    <input class="h-[40px] w-full rounded-[5px] px-[10px] py-[8px] outline-none border-none" formControlName="fullName" />
                </div>
                <div class="w-[50%] flex-1 flex flex-col items-start">
                    <div class="font-semibold">UserName</div>
                    <input class="h-[40px] w-full rounded-[5px] px-[10px] py-[8px] outline-none border-none" formControlName="userName" />
                </div>
            </div>
        </div>
    </div>
</div>