@tailwind base;
@tailwind components;
@tailwind utilities;
.menu-item {
  font-size: 14px;
  margin-top: 10px;
  color: white;
}
.icon {
  height: fit-content;
}
.logoutBTN {
  &:hover {
    span {
      color: red;
    }
  }
}

::ng-deep.ant-layout-sider-children {
  padding-bottom: 50px;
  overflow-y: auto;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
